

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{
    background-color:#e0e5ec
}

.middle{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.turn{
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: x-large;
}
.statistics{
    font-family: 'Lato', sans-serif;
    color:black;
    font-weight: 750;
    font-size:large;
    margin: 0;
}

p{/* collapse WS, preserve LB */
  }